doctype html
html(lang='en')
	head
		//- meta
		meta(charset='utf-8')

		//- responsive
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')

		//- site specific info
		title queen of memes
		meta(name='description', content='')
		meta(name='author', content='')

		//- styles
		//- link(rel='stylesheet', href='assets/css/normalize.min.css')
		link(rel='stylesheet', href='assets/css/bootstrap.min.css')
		link(rel='stylesheet', href='assets/css/csshake.min.css')
		link(rel='stylesheet', href='assets/css/main.css')

		//- other resources
		link(rel='shortcut icon', href='assets/images/favicon.jpg')

	body(style='min-height:100%;')
		audio#audio(loop, autoplay)
			source(src='assets/tunes/sandstorm.mp3')

		.main-wrapper
			h1
				span.shake-constant.shake.shake-hard
					span.rainbow-flash.offset-1 queenofmem.es
			h2
				span.shake-constant.shake
					span.rainbow-flash.offset-2 meme tinder

			h1
				span.shake-constant.shake.shake-crazy
					span.rainbow-flash epilepsy warning

			.controls
				a(href='#')#mememeup
					span.shake-constant.shake
						span.rainbow-flash.offset-2 meme me up scotty

		img.meme

		.copy(style='bottom: 0; padding-bottom: 65px; position: absolute; left: 50%; transform: translateX(-50%);')
			span created with the genius minds of liv gorton &amp; harry park

		//- scripts
		script(src='assets/js/pace.min.js')
		script(src='assets/js/jquery.min.js')
		script.
			getMeme();

			var currentMeme = 0;

			var audio = document.getElementById('audio');

			function getMeme() {
				var request = new XMLHttpRequest();
				var httpurl = 'https://api.imgur.com/3/g/memes/viral/' + Math.floor((Math.random() * 30) + 1);
				request.open("GET", httpurl, true);
				request.setRequestHeader('Authorization', 'Client-ID 2eeac4357a889f9')
				request.send();

				request.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var data = JSON.parse(this.responseText);
						var counter = 0;
						$('#mememeup').on('click', function() {
							if (counter > 55) {
								counter = 0;
							} else {
								var id = data.data[counter].link;
								var width = data.data[counter].width;
								$('img.meme').attr('src', id);
								counter++;
							}
						});
					}
				};
			}

			$('#mememeup').on('click', function() {
				audio.play();
			});